h1 {
	font-family: 'Karla', sans-serif;
	font-size: 10vw;
	font-weight: 700;
	margin:0;
}

p {
	font-family: 'Karla', sans-serif;
	font-size: 2vw;
}

#dot {
	height: 5vw;
    width: 5vw;
    top: 3.5vw;
    position: relative;
    background-color: #2752ff;
    border-radius: 50%;
    display: inline-block;
}

.expand {
  transition: transform 2s;
}

.expand:hover {
  transform: scale(35);
}

#dot.hover_effect {
  transition: transform 2s;
  transform: scale(35);
}