html {
  scroll-behavior: smooth;
}


html, body {
  margin:0;
  padding:0;
}

#name {
  font-family: 'Karla', sans-serif;
}

#app-container {
  display: none;
}

.btn {
    padding: .5rem 1rem;
    text-align: center;
    border-width: 1px;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .025em;
    display: inline-block;
    padding: .75rem 2rem;
}

.btn-blue {
  background: #2752ff;
  border: #2752ff;
  color: #fff;
}

.btn-blue:hover {
  background-color: #002de0;
  cursor: pointer;
}
.orb {
  z-index: -1;
  height: 2rem;
  width: 2rem;
  top: 10px;
  left: 15px;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #e2e8f0;
  border-radius: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .orb {
  height: 1.5rem;
  width: 1.5rem;
  }
}

.orb .percent {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 64px;
}
.orb .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  background: #2752ff;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.orb .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.orb .water_wave_back {
  right: 0;
  fill: #859dff;
  -webkit-animation: wave-back 3s infinite linear;
          animation: wave-back 3s infinite linear;
}
.orb .water_wave_front {
  left: 0;
  fill: #2752ff;
  margin-bottom: -1px;
  -webkit-animation: wave-front 1.5s infinite linear;
          animation: wave-front 1.5s infinite linear;
}

@-webkit-keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@-webkit-keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}
@keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: .5s;
}

@keyframes fade-in {
  from {opacity:0}
  to {opacity:1}
}

.pulse-blue:hover {
  animation: borderPulseBlue 2000ms infinite ease-out;
}


/* Declare border pulse animation */
@keyframes borderPulseBlue {
  0% {
    box-shadow: inset 0px 0px 0px 5px rgba(39,82,255,.4), 0px 0px 0px 0px rgba(39,82,255,1);
  }
  100% {
    box-shadow: inset 0px 0px 0px 3px rgba(39,82,255,.2), 0px 0px 0px 10px rgba(39,82,255,0);
  }
}
