h1 {
	font-family: 'Karla', sans-serif;
	font-size: 5em;
	font-weight: 700;
}

p {
	font-family: 'Karla', sans-serif;
	font-size: 1.2em;
}

.dot {
	height: 50px;
    width: 50px;
    top: 22px;
    position: relative;
    background-color: #2752ff;
    border-radius: 50%;
    display: inline-block;
}
