h1 {
	font-family: 'Karla', sans-serif;
	font-size: 7vw;
	font-weight: 700;
	margin:0;
}

p {
	font-family: 'Karla', sans-serif;
	font-size: 1.2vw;
}

.dot {
	height: 4vw;
    width: 4vw;
    top: 2.1vw;
    position: relative;
    background-color: #2752ff;
    border-radius: 50%;
    display: inline-block;
}
